html, body {
  font-family: "Raleway", Helvetica;
  /*font-family: "Muli", sans-serif;*/
  margin: 0;
  padding: 0;
  background-color: #f2ecda;
  /*background-color: #f2ecda;*/
  
}

a {
	text-decoration: none;
	color: #96968c;
}
div.Main_Screen {
	height: 85vh;
}
div.Page {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
    color: #96968c;
	text-align: center;
	
}
div.Break {
	width: 100%;
	margin: 40px 0px 40px 0px;
	height: 40px;
	background-color: #a4d9e3;
}
#logo {
	margin: 15% auto 30px auto;
}
#logo img{
	width: 30%;
	min-width: 300px;
}
.title {
	font-size: 6em;
}
.title_small {
	font-size: 3em;
}
#subtitles {
	/*text-transform: uppercase;*/
}
.subtitle {
	display: inline-block;
	margin: 20px;
	font-size: 2em;
}
div.Introduction {

}
.team_photo {
	margin: 10% auto 10% auto;
	width: 90%;
}
.team_photo img {
	border-radius: 30px;
	width: 100%;
}
#intro{
	font-size: 1em;
	width: 90%;
	margin: 5% auto 5% auto;

}
h3 {
	font-size: 3em;
}
p1 {
	font-size: 1em;
}

div.Biography {
}
.member {
	height: 60%;
	max-height: 400px;
	width: 100%;
	margin: 0 auto 20px auto;
	padding: 3% 0% 3% 0%;
}
.pic img {
	border-radius: 20px;
	display: table-cell;
	float: left;
	width: 40%;
	margin-right: 5%;
}
.bio {	
	display: table-cell;
	float: left;
	text-align: left;
	margin-top: 5px;
	width: 55%;
}
.name {
	font-size: 2em;
	font-weight: 700;
}
.bordered {
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #96968c;
}
div.TeamAgreement {
}
