html, body {
  font-family: "Raleway", Helvetica;
  /*font-family: "Muli", sans-serif;*/
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f2ecda;
  /*background-color: #f2ecda;*/
  
}

a {
	text-decoration: none;
	color: #96968c;
}
div.Main_Screen {
	
}
div.Page {
	width: 750px;
	margin: 0 auto;
    color: #96968c;
	min-height: 90vh;
	text-align: center;
	
}
div.Break {
	min-width: 750px;
	margin: 40px 0px 40px 0px;
	min-height: 10vh;
	background-color: #a4d9e3;
}
#logo {
	margin: 40px 0px 10px 0px;
}
#logo img{
	height: 300px;
}
.title {
	font-size: 6em;
}
.title_small {
	font-size: 3em;
}
#subtitles {
}
.subtitle {
	display: inline-block;
	margin: 20px;
	font-size: 2em;
}
div.Introduction {

}
.team_photo {
	margin: 30px auto 30px auto;
	height: 46%;
	width: 100%;
}
.team_photo img {
	border-radius: 30px;
	height: 100%;
}
#intro{
	width: 80%;
	margin: 30px auto 30px auto;

}
h3 {
	font-size: 3em;
}
p1 {
	font-size: 1em;
}

div.Biography {
}
.member {
	min-height: 400px;
	width: 700px;
	/*
	background-color: B6B3B2;
	border-radius: 30px;
	*/
	margin: 25px auto 25px auto;
}
.pic img {
	border-radius: 20px;
	display: table-cell;
	float: left;
	width: 40%;
	margin-right: 5%;
}
.bio {	
	display: table-cell;
	float: left;
	text-align: left;
	width: 55%;
}
.name {
	font-size: 2em;
	font-weight: 700;
}
div.TeamAgreement {
}
